section {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: space-evenly;
}

h1 {
    font-family: "ArialJJBA";
    background: -webkit-linear-gradient(rgb(128, 0, 128), #c7c7c7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

p {
    font-family: "ArialJJBA";
    color: purple;
}

.top-bar {
    max-width: 800px;
    margin: 1.5rem auto;
    display: flex;
    gap: 1rem;
}

.top-bar h1 {
    flex-grow: 1;
}

.score {
    flex-grow: 2;
}

.score p {
    color: white;
    background-color: rgb(128, 0, 128);
    border-radius: 5px;
    padding: 4px;
    max-width: 400px;
}

.score-count h3 {
    margin: 3px 5px;
}

.score-count {
    display: flex;
    align-content: space-between;
}

.score p {
    margin: 0px;
}

#root {
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.winner {
    font-size: 8rem;

}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.read-the-docs {
    color: #888;
}
